@font-face{
    font-family: 'Exo Medium';
    src: url('C:/Users/htorres/Desktop/Fontes/Exo-Medium.ttf')
}

h1{
    font-family: 'Exo Medium', sans-serif;
}

h3{
    font-family: 'Exo Medium', sans-serif;
}

#card{
    font-family: 'Exo Medium', sans-serif;
}
/*
.gas{
    margin-top: 2%;
    border-radius: 10px;
    padding: 1%;
    border-color: aliceblue;
    margin-right: 2%;
}

.gas:hover{
    border-color: rgb(250, 204, 2);
    background-color: rgb(250, 204, 2);
    transform: scale(1.1);
    transition: all 0.5s;
}

.agua{
    border-radius: 10px;
    padding: 1%;
    border-color: aliceblue;
    margin-right: 2%;
}

.agua:hover{
    border-color: rgb(250, 204, 2);
    background-color: rgb(250, 204, 2);
    transform: scale(1.1);
    transition: all 0.5s;

}

.energia{
    border-radius: 10px;
    padding: 1%;
    border-color: aliceblue;

}

.energia:hover{
    border-color: rgb(250, 204, 2);
    background-color: rgb(250, 204, 2);
    transform: scale(1.1);
    transition: all 0.5s;

}

.retangulo{
    border-color: aqua;
}
*/

.botao-tema{
    display: flex;
    justify-content: center;
}

.nivel-tanque{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 360px;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
}

.level{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(2, 248, 96);
}

.texto{
    font-family: 'Exo Medium', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.posicao-botao{
    display: flex;
    justify-content: right;
    margin-right: 0;
}

.okay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#tique-verde{
    margin-left: 2%;
}

.ok{
    margin-left: 6%;
}

.status{
    text-align: center;
}

.containerss{
    display: flex;
    justify-content: center;
}

#card{
    margin-left: 5%;
}

@media screen and (min-width: 400px) {
    #grafico-bom{
        height: 400px;
    }

}

@media screen and (max-width: 576px){
    h1{
        display: flex !important;
        justify-content: center !important;
    }

    #grafico-bom{
        height: 400px;
    }
    #card{
        display: flex !important;
        justify-content: center !important;
    }
    
    #logo-dw{
        width: 30%;
    }
    
    
}



