@font-face{
    font-family: 'Exo Medium';
    src: url('C:/Users/htorres/Desktop/Fontes/Exo-Medium.ttf')
}

.tituloDWHA{
    display: flex;
}
.titulo{
    color: white;
    font-family: 'Exo Medium', sans-serif;
}

.selecao{
    display: flex;
    justify-content: center;
    font-family: 'Exo Medium', sans-serif;
}

.nvgas{
    margin-right: 2%;
    font-family: 'Exo Medium', sans-serif;
    padding: 2%;
    background-color: #FDB913;
    border-radius: 5px;
    border-color: #FDB913;
}

.gastoagua{
    margin-right: 2%;
    font-family: 'Exo Medium', sans-serif;
    padding: 2%;
    background-color: rgb(253, 185, 19);
    border-radius: 5px;
    border-color: #FDB913;
}

.consenergia{
    margin-right: 2%;
    font-family: 'Exo Medium', sans-serif;
    padding: 2%;
    background-color: #FDB913;
    border-radius: 5px;
    border-color: #FDB913;
}

body{
    background-color: rgb(59, 59, 59);
}

.grafico1{
    display: flex;
    margin: auto;
    margin-top: 10px;
}

.grafico2{
    display: flex;
    margin: auto;
    margin-top: 50px;
}

@media screen and (max-width: 576px){
    


    .card-sm{
        width: 16rem;
    }
    
}